/.idea
/etc/database/data/
/etc/bitrix/data/
/vendor/
/app/php_interface/dbconn.php
/app/php_interface/after_connect_d7.php
/app/php_interface/after_connect.php
.env
/wiki/

# Боевое окружение
/www/bitrix_app/
.*
!.gitignore
/.config/
/.local/
/.ssh/
/bin/
/etc/.settings.php
/etc/dbconn.php
/etc/license_key.php
/etc/p3p.xml
/lib/
/tmp/
/var/
