.idea
etc/
lib/bitrix/admin/
lib/bitrix/backup/
lib/bitrix/components/
lib/bitrix/css/
lib/bitrix/fonts/
lib/bitrix/gadgets/
lib/bitrix/image_uploader/
lib/bitrix/images/
lib/bitrix/js/
lib/bitrix/modules/
lib/bitrix/otp/
lib/bitrix/panel/
lib/bitrix/php_interface/after_connect.php
lib/bitrix/php_interface/after_connect_d7.php
lib/bitrix/php_interface/dbconn.php
lib/bitrix/services/
lib/bitrix/sounds/
lib/bitrix/themes/
lib/bitrix/tmp/
lib/bitrix/tools/
lib/bitrix/updates/
lib/bitrix/wizards/
lib/bitrix/*.php
lib/bitrix/*.config
lib/bitrix/*.xml
vendor/
app/php_interface/dbconn.php
app/php_interface/after_connect_d7.php
app/php_interface/after_connect.php
www/bitrix
www/bitrix_app
www/bitrixadapter
www/upload
